body {background-color: #041c2e;}
h1, h2{ color:#bfdadb;}
p { color:#adcae0;}
ul {color:#adcae0;}
a {color:#8c2018}
nav { background-color: #c8d0de;}
nav a{color: 9;}
nav a:hover{ background-color: #bfdadb;}
nav {padding: 10px;}
nav {margin-bottom: 30px}





